@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login_page{
  max-width: 500px;
  margin: 5% 30%;
  color: #444;
  padding: 0 15px;
}
.login_page h2{
  text-transform: uppercase;
  font-size: 2rem;
  margin: 20px 0;
  letter-spacing: 1.5px;
}

.login_page input{
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border: 2px solid #777;
  outline: none;
  padding: 0 10px;
}

.login_page textarea{
  width: 100%;
  height: 100px;
  margin: 10px 0;
  border: 2px solid #777;
  outline: none;
  padding: 0 10px;
}

.login_page select{
  padding: 10px;
  width: 100%;
  border-width: 2px;
  border-color: rgb(119, 118, 118);
  background-color: white;
  margin-top: 3px;
}

.login_page .row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}

.login_page .row button{
  width: 150px;
  padding: 10px 0;
  color: white;
  background: black;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-left: 10px;
  margin-top: 30px;
}

.login_page p{
  margin: -30px 5px;
  float: right;
}

.login_page a{
  color: crimson;
  font-weight: 600;
}

.container {
  max-width: 600px;
  margin: 200px auto;
  text-align: center;
  padding: 50px 0;
  justify-content: center;
}

h1 {
  font-size: 60px;
  color: #ff0000;
  margin-bottom: 20px;
}


/*--------------------- User Course Lists -----------------------*/
@import url('./course.css');

/*--------------------- Loader -----------------------*/
@import url('./loader.css');